
body {
    font-family: sans-serif;
    padding: 50px;
    background-color : #cccccc;
    }

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : #eeeeee;
    }

#editor {
    text-align: left;
    background-color : #eeeeee;
    }

.input-range-labels-container { visibility: hidden }

.input-range-container {
     transform: rotate(-270deg) translateY(-510px) translateX(-84px)
  }

.input-range {
     transform: rotate(-270deg) translateY(-510px) translateX(-84px)
  }