
body {
    font-family: sans-serif;
    background-color : #cccccc;
    }

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : #eeeeee;
    }

#editor {
    text-align: left;
    background-color : #eeeeee;
    }

.input-range-labels-container { visibility: hidden }

.input-range-container11 {
     transform: rotate(-270deg);
}

.input-range-container {
     transform: rotate(-270deg) translateY(-745px) translateX(315px)
}