
body {
    font-family: sans-serif;
    background-color : #cccccc;
    }

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : #eeeeee;
    }

#editor {
    text-align: left;
    background-color : #eeeeee;
    }

.input-range-labels-container { visibility: hidden }


